html, body{
    margin: 0;         /* 余白の削除 */
    padding: 0;        /* 余白の削除 */
    width:100%;
    height:100%;
}
h3{
border-bottom: solid 3px black;
/*線の種類（実線） 太さ 色*/
}
.home{
	text-align:left;
	float:left;
}
.managementbutton{
	float:left;
}
.logoutbutton{
	text-align: right;
	float:right;
}

.td{
	border-style:none;
}
div#header-fixed{
	position:fixed;
	top:0px;
	left:0px;
	width:99%;
	height:140px;
}
div#header-bk {
	padding:10px;
	height:180px;
	width:100%;
	background-color:#ffffff;
}
div#header {
	height: 100%;
	width: 100%;

}
div#body{
	padding:200px 0px 0px 0px;
	left:0px;
}
.messages{
	text-align:left;
}
input#btn{
	float:right;
	text-align:left;
	background-color:#00ff80;
}
.commentname{
	float:left;
}
.square_btn {
    display:block;
    text-decoration: none;
    color: #67c5ff;
    border: solid 2px #67c5ff;
    border-radius: 3px;
    transition: .4s;
    float:left;
}

.square_btn:hover {
    background: #67c5ff;
    color: white;
}
.comments{
	float:right;
	width:40%;
}
#comment{
	width:90%;
	resize: none;

}
.commentslist{
	word-break : break-all;
	height: 220px;
	overflow: auto;
	content: '';
}
.display{
	height: 200px;
	overflow: auto;
}
.category{
	float:right;
	text-align:right;
	position:absolute;
	 top:155px;
	 right:150px;
	 left:110px;
	 min-width:800px;
}
.categoryReset{
	float:right;
	text-align:right;
	position:absolute;
	top:155px;
	right:0px;
	left:700px;
	min-width:300px;
}
.text{
	 word-break : break-all;
	 width:60%;
}
